.body {
  font-family: Verdana;
  color: #fff;

  padding-top: 90px;
  padding-bottom: 90px;
  background-image: linear-gradient(
    to bottom right,
    #01263a,
    #150122,
    rgb(3, 0, 19),
    #01263a,
    black
  );
  color: rgba(2, 250, 23, 0.897);
}

.headingTable {
  font-size: larger;
  border: 2px;
  color: rgba(2, 250, 23, 0.897);
  font-weight: bolder;
}

.tableText {
  color: white;
}
.updBtn {
  background-color: teal;
  color: #fff;
  border-radius: 7px;
  padding: 7px;
  margin: 3px;
  margin-top: 10px;
  font-size: 17px;
}
.updBtn:hover {
  background-color: rgb(4, 105, 105);
}
.modaling {
  color: #fff;
  background-color: rgb(3, 0, 19);
  color: #fff;
  border-radius: 10px;
}
#modell,
#iconing {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}
.btn-secondary {
  color: red !important;
  background-color: #dbd3d3 !important;
}
.btn-primary {
  background-color: rgb(4, 105, 105);
}
.btn-primary:hover {
  background-color: teal;
  border: none;
}
.btn-secondary:hover {
  color: rgb(219, 26, 26) !important;
  background-color: #6e6565 !important;
  font-weight: bold;
}
